rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function inOrganization(orgId) { return signedIn() && request.auth.token.organizationId == orgId; }
    match /organizations/{orgId}/{document=**} {
      allow read: if inOrganization(orgId);
      allow write: if false;
    }
    match /projects/{projectId} {
      allow read: if signedIn() && resource.data.organizationId == request.auth.token.organizationId;
      allow write: if false;
      match /{document=**} {
        allow read: if signedIn()
          && get(/databases/$(database)/documents/projects/$(projectId)).data.organizationId
          == request.auth.token.organizationId;
        allow write: if false;
      }
    }
  }
}
